/*BodyFix*/
body { overflow-x:hidden}

/*Main Wrappers
===============*/
.main_wrapper { background:#ffffff; width:1020px; margin:0 auto; text-align:center; box-shadow:0px 0px 20px #606060; text-align:left}

/*Header
========*/
	header { border-top:#555555 5px solid; position:relative; z-index:10}
	header .blue_line { background:#61cdf5; height:5px; width:175px; display:block; position:absolute; left:0; top:-5px}
	/*Logo*/
	.logo { position:absolute; left:40px; top:43px; width:235px; height:40px; display:block; background:url(../images/logo.png) no-repeat;}

	/*MainMenu*/
	nav.head_nav { margin:128px 0 0 0; background:url(../images/bg_menu1-x.png) repeat-x; position:relative; height:52px}
	.mainmenu { margin:0; padding:0; position:relative; z-index:10;}
	.mainmenu li { float:left; padding:0; margin:0; position:relative}
	.mainmenu li.sep { width:1px!important; background:url(../images/sep_menu.png) no-repeat center!important; display:block; height:52px}
	.mainmenu li a { display:block; width:100px; text-align:center; line-height:20px; font-size:12px; text-decoration:none; color:#555555; font-family: 'Open Sans', sans-serif; padding:16px 0; text-transform:uppercase}
	.mainmenu li.act { background:url(../images/bg_menu2-x.png) repeat-x!important;}
	.mainmenu li.act a { color:#61cdf5!important;}
	.menu_indicator { width:100px; height:100%; background:#f8f8f8 url(../images/bg_menu2-x.png) repeat-x; position:absolute; left:0px; top:0px; z-index:0}
		/*Submenu*/
	.level1 { left:0px; top:51px;}
	.level2 { left:200px; top:0px;}
	.level2r { left:-200px; top:0px;}
	.mainmenu li ul.sub_menu { margin:0; padding:0; position:absolute; overflow:visible; display:none}
	.mainmenu li ul.sub_menu li { float:none; background:#3c3c3c; border-top:#4c4c4c 1px solid; border-bottom:#303030 1px solid; border-radius:2px; width:220px; position:relative}
	.mainmenu li ul.sub_menu li a { width: 180px;display:block; padding:10px 25px; line-height:14px; font-size:12px; color:#ffffff; font-family: 'Open Sans', sans-serif; text-transform:none; text-align:left}
	.mainmenu li ul.sub_menu li:hover { background:#61cdf5; border-top:#61cdf5 1px solid; border-bottom:#61cdf5 1px solid; border-radius:0px;}
		/*MobileMenu*/
	.mobile_nav { display:none}
	.mobile_menu { display:none}

	/*Soicials*/
	.socials { margin:0; padding:0; position:absolute; right:40px; top:55px; overflow:hidden;}
	.socials li { width:21px; height:17px; margin:0 5px 0 0; float:left}
	.socials li a { width:21px; height:17px; display:block;}

/*Slider
========*/
	.top_slider { width:1020px; padding-bottom:5px; background:#efefef url(../images/bg_subslider.png) repeat-y left; overflow:hidden}
	#top_slider { overflow:hidden}

/*Main Container
================*/
	.site_container { padding:0 30px}
	.slogan { padding:25px 0; border-bottom:#efefef 1px solid; margin-bottom:25px!important; color:#555555; font-family:font-family: 'Open Sans', sans-serif; line-height:30px; font-size:18px;}
	.slogan h1 { margin-bottom:0}
	.slogan a { text-decoration: underline; color: #195588;}
	.slogan p { margin-top: 1em; font-size: 85;}
	.slogan span { font-size:23px; line-height:30px; color:#555555; font-family:font-family: 'Open Sans', sans-serif; display:block}
	.not-found {margin-top: 3em;}
	.bf_block { background:#f9f9f9; margin:20px 0 40px 0; padding:40px 30px; border-bottom:#efefef 1px solid; border-top:#efefef 1px solid}
		/*Sliding Gallery*/
	.slider1_list { overflow:hidden;}
	.slider1_list li { text-align:center; background:none; padding:0 0 20px 0; border-bottom:#dbdbdb 1px solid; font-size:13px; font-style:italic; color:#7b7b7b; cursor:pointer; float:left}
	.slider1_list li img { margin-bottom:20px}
	.slider1_list li h4 { color:#555555; margin-bottom:10px; font-style:normal}
	.slider1_list li:hover { border-bottom:#61cdf5 1px solid; background:#eeeeee}
	.slider1_list li:hover h4 { color:#61cdf5;}
		/*Seperators*/
	.seperator {background:url(../images/bg_grey_pix.png) repeat-y ; overflow:hidden}
	.seperator_after8 { background-position:50% 0}
	.seperator_right { background-position: 75% 0}
	.seperator_left { background-position: 25% 0}

/*Aside
=======*/
	.aside {
		 -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		 -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); color: #195588; padding:40px 30px 55px 30px; background:#f9f9f9; margin-top:40px; border-top: 1px solid #c5c5c5; }

/*Footer
==================*/
	footer { position:relative; background:#f9f9f9; height:15px;}
	.footer_block { position:absolute; bottom:0px; left:0px; padding:45px 30px 15px 30px; display:block; width:200px; }
	.footer_block p { padding:45px 0 55px 0; margin:0; color: #353233; font-size:12px; line-height:18px; font-style:italic}
	.copyright { color:#353233; font-size:12px; width :90%; margin: 0 auto;}

/*Chapman built template styles

contrast: #195588
base: #353233
highlight: #d71d28
================================================== */
header {
	border-top: #353233 5px solid;
	position: relative;
	background: transparent url(../images/bg-header.png) repeat-y 100% 0;
}
.tag-line {
	padding: .6em 0;
}
.tag-line hr {
	border-top: 2px solid #d71d28;
	margin: 0 0 -15px;
	padding: 0;
	width:264px;
}
.ie8 .tag-line hr {
	text-align: left;
}
.ie9 .tag-line hr {
	text-align: left;
	width:258px;
}
.tag-line hr.hr-right {
	float: right;
	width: 286px;
	margin: 6px 317px 0 0;
}
.ie8 .tag-line hr.hr-right {
	width: 292px;
	margin: 6px 310px 0 0;
}
.ie9 .tag-line hr.hr-right {
	width: 283px;
	margin: 6px 327px 0 0;
}
.tag-line p {
	font-size: 120%;
	/*font-family: 'Armata', Arial, sans-serif;*/
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #195588;
	margin-bottom: 8px;
}
.mainmenu li.act a {
	color: #195588 !important;
}
.mainmenu li ul.sub_menu li:hover {
	background: #195588;
	border-top: #195588 1px solid;
	border-bottom: #195588 1px solid;
}
a {
	color: #195588;
}
a:hover, a:focus {
	color: #d71d28;
}
.btn_readmore, .contact_button input {
	/*font-family: 'Quicksand', Arial, sans-serif;*/
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	border: 1px solid #195588;
	background-color: #185486;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(8, 48, 85)), to(rgb(24, 84, 134)));
background-image: -webkit-linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
background-image: -moz-linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
background-image: -o-linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
background-image: -ms-linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
background-image: linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#083055', EndColorStr='#185486');

}
.btn_readmore:hover, .btn_readmore:focus, .contact_button input:hover, .contact_button input:focus {
	background: #d71d28;
	border: 1px solid #d71d28;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d71d28', EndColorStr='#d71d28');
}


/*Chapman built page specific styles
================================================== */

.logo {
	top: 1.9em;
	left: 2.8em;
	background:none;
	width: auto;
}
nav.head_nav {
	margin-top: 160px;
}
.socials {
	top: .9em;
	right: 1.6em;
}
.socials li {
	position: relative;
	width: auto;
	font-size: 120%;
	margin: 0 0 .4em .8em;
	text-transform: uppercase;
}
.socials li a {
	width: auto;
	display: inline;
	text-transform: lowercase;
	color: #d71d28;
	vertical-align: top;
	font-size: 110%;
}
.socials li a:hover, .socials li a:focus {
	color: #195588;
}
.top_slider {
	background: #d71d28;
}
.camera_caption {
	width: 40% !important;
	bottom: 6em !important;
}
.caption-right {
	right: 0;
}
.camera_caption > div {
	padding: 12px 20px !important;
}
.camera_caption > div a {
	color: #fff;
	font-size: 140% !important;
	line-height: 140% !important;
	padding-right: 45px;
	display: block;
	background: transparent url(../images/caption-link.png) no-repeat 100% 50%;
}
.caption-right  > div a {
	text-align: right;
	padding-left: 45px;
	padding-right: 0;
	background: transparent url(../images/caption-link-alt.png) no-repeat 0 50%;
}
.highlight {
	border: 1px solid #ddd;
	padding: 10px 10px 0 10px;
	width:190px !important;
	background: #f9f9f9;
	 -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.highlight .btn_readmore {
	background-color: #d71d28 !important;
	background-image: none;
	border: 1px solid #d71d28;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d71d28', EndColorStr='#d71d28');
}
.highlight .btn_readmore:hover, .btn_readmore:focus {
	background-color: #185486;
	border: 1px solid #195588;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(8, 48, 85)), to(rgb(24, 84, 134)));
background-image: -webkit-linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
background-image: -moz-linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
background-image: -o-linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
background-image: -ms-linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
background-image: linear-gradient(top, rgb(8, 48, 85), rgb(24, 84, 134));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#083055', EndColorStr='#185486');

}
.highlight h3 {
	color: #d71d28;
}
.highlight p {
	font-size: 120%;
	margin: 1.2em 0 1.4em;
	padding: 1em 0;
	border-top: 1px solid #d71d28;
	border-bottom: 1px solid #d71d28;
}
.services h2 {
	outline: none;
}
.footer_block {
	padding-top: 30px;
}
.footer-logo {
	text-align: center;
	margin: 0 30px 0 -10px !important;
}
.footer-logo img {
	margin: 0 auto 2em;
	display: block;
}
.footer_block p {
	padding-top: 1.6em;
	padding-bottom: 2em;
}
.aside {
	padding-bottom: 2em;
	padding-top: 30px;
}
.aside .container {
	background: transparent url(../images/footer.gif) repeat-y ;
}
.aside dl {
	margin-top: 0;
}
.aside dd {
	margin: 0 0 .5em 0;
}
.associations img {
	margin: 0 1em 0 0;
}
.aside p {
	margin-bottom: 1em;
}
.aside a {
	text-decoration: underline;
}
.mainmenu li.act a {
	color: #195588 !important;
}
.mainmenu li.act .sub_menu a {
	color: #fff !important;
}
.process img {
	margin-bottom: 2em;
}

/* Gallery thumbs for Our Work */
.our-work .content {
	float: left;
}
.our-work .gallery-thumbs li {
	float: left;
	width: 18em;
	margin-right: 1em;
}
.our-work .posts_widget img {
	width: 50%;
}
.services .alt3 {
	margin-top: 8px;
}
li.award {
	position: relative;
}
img.award {
	position: absolute;
	left: 4px;
	bottom: 4px;
}
p.award {
	font-weight: bold;
	color: #d71d28;
	padding: 20px 0 40px 90px;
	background: transparent url(../images/our-work/award.png) no-repeat 0 0;
	width: 60%;
	margin: 0 auto;
	font-size: 120%;
}
.container .image-grid .five.columns {
	width: 300px;
}
.clear-left {
	clear: left;
}
.offscreen {
	position:absolute;
	top:0;
	left:-9999px;
}